<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianlei.dao.PermissionMapper">

    <resultMap id="baseResultMap" type="com.tianlei.domain.Permission">
        <id property="id" column="id"/>
        <result property="permissionName" column="permission_name" />
    </resultMap>

    <sql id="baseCloumn">
        id,permission_name
    </sql>

    <insert id="save" parameterType="com.tianlei.domain.Permission" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO t_permission(permission_name) VALUE (#{permissionName});
    </insert>

    <select id="findById" resultMap="baseResultMap">
        SELECT
        <include refid="baseCloumn"/>
        FROM t_permission WHERE id=#{id}
    </select>

</mapper>